.piercing_woman_photo{
    margin-top: 70px;
    width: 40%;
    margin-left: 10%;
    float: left;
}

.piercing_treatment_Text{
    margin-top: 70px;
    width: 40%;
    margin-right: 10%;
    float: right;
    line-height: 25px;
}