
*{
    box-sizing: border-box;
}

.row:after{
    content : "";
    clear: both;
    display: block;
}
    [class*="col-"]{
    float: left;
    padding: 50px;
    }

/* For desktop: */
.col-1 {width: 20%;}
.col-2 {width: 80%;}
.col-3 {width: 100%;}

.Shops_title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    text-align:center;
    float : left
}
.Products {
    display: table;
    position: relative;
    text-align: center;
    margin-top :100px;
}

.product{
    height: 300px;
    display: table-cell;
    width: 25%;
}

.product p{
    vertical-align: middle;
}
