*{
    box-sizing: border-box;
}

.Users_Personal_page {

}

.Set_Appointment{
    float: right;
    padding: 20px;
    border: 1px solid black;
    width: 30%;
    text-align: center;
    margin-right: 15%;
}

.Order_Piercing{
    float: left;
    padding: 20px;
    border: 1px solid black;
    width: 30%;
    text-align: center;
    margin-right: 10%;
    margin-left: 15%;
}

.My_Appointment{
    float: right;
    padding: 20px;
    width: 50%;
    border: 1px solid black;
    text-align: center;
}

.My_Orders{
    float: left;
    padding: 20px;
    border: 1px solid black;
    width: 50%;
    text-align: center;
}
