*{
    box-sizing: border-box;
}

.row:after{
    content : "";
    clear: both;
    display: block;
}
    [class*="col-"]{
    float: left;
    padding: 5px;
    }

/* For desktop: */
.col-1 {width: 15%;}
.col-2 {width: 45%;}
.col-3 {width: 70%;}
.col-4 {width: 85%;}

  @media only screen and (max-width: 1000px){
    /* For mobile phones: */
    [class*="col-"]{
     width: 100%;
    }
    [class="col-1"]{
     height: 50px;
    }
  }

  .main1 {
     background-color: rgb(255, 255, 255);
    padding: 30px;
        text-align: center;
    height: 60px;
        width: 300px;
        margin-top: 35px; /*לשנות לפי הגובה שבריגה עשה לבאנר העליון*/
        margin-left: 475px;
        border: 1px solid black;

  }

    .main2{
     background-color: rgb(255, 255, 255);
    padding: 60px;
        text-align: center;
    height: 120px;
        width: 450px;
        margin-top: 10px;
        margin-left: 400px;
        border: 1px solid black;

  }

    .main3{
     background-color: rgb(255, 255, 255);
    padding: 60px;
        text-align: center;
    height: 120px;
        width: 450px;
        margin-top: 10px;
        margin-left: 400px;
        border: 1px solid black;
  }
    .main4{
     background-color: rgb(255, 255, 255);
    /*padding: 18px;*/
    height: 30px;
        width: 450px;
        margin-top: 10px;
        margin-left: 400px;
        margin-bottom: 150px; /*לשנות לפי הגובה שבריגה עשה לבאנר התחתון*/
        border: 1px solid black;
        text-align: center;
  }