
.piercing_treatment_Text{
    color: white;
        font-family: 'Montserrat', sans-serif;
        width: 80%;
    padding: 3%;
    margin-left: 10%;
    font-size: 20px;
    border-radius: 20%;
}

body{
    margin-bottom: 50px;
    background-image: url(../../general/static/Balg6Fx.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.treatment-head {
    font-family: 'New Tegomin', serif;
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
}
